<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>
			{% block title %}
				{# Override title #}
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('images/required/icon.png') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="{{ asset('css/index.css') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
	</head>
	<body>
		{% block navbar %}
			{# Override navbar #}
		{% endblock %}

		<div id="body">
			{% block sidebar %}
				{# Override sidebar #}
			{% endblock %}
			{% block content %}
				{# Override content #}
			{% endblock %}
		</div>

		{% block footer %}
			{# Override navbar #}
		{% endblock %}

		{% block baseJS %}
			{# Override js needed for request #}
		{% endblock %}

		{% block request %}
			{# Override request #}
		{% endblock %}

	</body>
</html>
