{% extends 'page.html.twig' %}

{% block content %}
	<div id="aboutus">
		<h2 class="title-about-us">A propos de nous</h2>

		{% block modal %}
			{% include "includes/_modal.html.twig" with {'ckeditors': ckeditors} %}
		{% endblock %}

		{% for ckeditor in ckeditors %}
			{% if (ckeditor.zone == "actions") %}
				<div class="card">
					<div class="card-header">
						<h5>Actions menées par le CSE</h5>
						<button class="modal-open">Voir le règlement</button>
					</div>
					<div class="card-body">
						<div class="card-content">
							<p>{{ ckeditor.content|raw }}</p>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{% for ckeditor in ckeditors %}
			{% if (ckeditor.zone == "membres") %}
				<div class="card">
					<div class="card-header">
						<h5>Membres</h5>
					</div>
					<div class="card-body">
						<div class="card-content">
							<p>{{ ckeditor.content }}</p>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
