<div class="modal-background modal-background-{{ type }}">
	<div class="modal">
		<div class="modal-header">
			<button class="modal-close">X</button>
			<h2>{{ title }}</h2>
		</div>
		<div class="modal-body">
			{{ content|raw }}
		</div>
		<div class="modal-footer">
			{% if options.texteFooter is defined %}
				<div class="modal-text-footer">
					{{ options.texteFooter|raw }}
				</div>
			{% endif %}

			<div class="btn-container">

				{% if options.cancelButton is defined and options.cancelButton == true  %}
					<button class="btn btn-modal btn-close">Annuler</button>
				{% else %}
					<button class="btn btn-modal btn-close">Fermer</button>
				{% endif %}


				{% if options.addButton is defined and options.addButton == true  %}
					<button type="submit" class="btn btn-modal btn-edit">Confirmer l'ajout</button>
				{% endif %}

				{% if options.editButton is defined and options.editButton == true %}
					<button type="submit" class="btn btn-modal btn-edit">Confirmer la modification</button>
				{% endif %}

				{% if options.deleteButton is defined and options.deleteButton == true  %}
					<button type="submit" class="btn btn-modal btn-delete">Confirmer la suppression</button>
				{% endif %}

			</div>
		</div>
	</div>
</div>
