<div class="modal-background">
	<div class="modal">
		<div class="modal-header">
			<button class="modal-close">X</button>
			<h2>Règlement du CSE</h2>
		</div>
		<div class="modal-body">
			{% if ckeditors %}
				{% for ckeditor in ckeditors %}

					{# Text du règlement #}
					{% if (ckeditor.zone == "reglement") %}
						{{ ckeditor.content|raw }}
					{% endif %}

				{% endfor %}
			{% endif %}
		</div>
		<div class="modal-footer">
			{% if ckeditors %}
				{% for ckeditor in ckeditors %}

					{# Email du CSE #}
					{% if (ckeditor.zone == "email") %}
						<div>
							<p>
								Pour toutes informations supplémentaires, veuillez nous contacter à l'adresse mail :
							</p>
							{{ ckeditor.content|raw }}
						</div>
					{% endif %}

				{% endfor %}
			{% endif %}
			<button class="btnClose">Fermer</button>
		</div>
	</div>
</div>
