<div class="modal-background modal-background-{{ type }}">
	<div class="modal">
		<div class="modal-header">
			<button class="modal-close">X</button>
			<h2>{{ title }}</h2>
		</div>
		<div class="modal-body">
			{{ content|raw }}
		</div>
		<div class="modal-footer">
			{% if options.texteFooter is defined %}
				<div class="modal-text-footer">
					{{ options.texteFooter|raw }}
				</div>
			{% endif %}

			<div class="btn-container">

				{% if options.modifButton is defined and options.modifButton == true %}
					<button type="submit" class="btn btn-modal btn-edit">Modifier</button>
				{% endif %}

				{% if options.suppButton is defined and options.suppButton == true  %}
					<button type="submit" class="btn btn-modal btn-delete">Supprimer</button>
				{% endif %}

				<button class="btn btn-modal btn-close">Fermer</button>

			</div>
		</div>
	</div>
</div>
