{% extends "page.html.twig" %}

{% block title %}
	CSE - Contact
{% endblock %}

{% block content %}
	<div id="contact">
		<h1>Contactez-nous</h1>
		<div class="card">
			<div class="contact-flex">
				<div class="contact-img">
					<img src="{{ asset('images/required/lyceestvincent.png') }}" alt="image du lycée st-vincent">
				</div>
				<div class="contact-header">
					<ul>
						<li>
							Par téléphone :
							<a href="tel:+33303030303">+33303030303</a>
						</li>
						<li>
							Par mail :
							<a href="mailto:cse@lyceestvincent.fr">cse@lyceestvincent.fr</a>
						</li>
						<li>
							Au lycée : Bureau du CSE (1er étage bâtiment Saint-Vincent)
						</li>
					</ul>
					<div class="contact-form">
						{{ render(controller('App\\Controller\\HomeController::formContact')) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
