<div class="navbar-responsive">
	<div class="navbar-divider"></div>
	{% block menu %}
		{% if menu == 'base' %}
			{% include "includes/navbar/_navbar-menu.html.twig" %}
		{% elseif menu == 'back' %}
			{% include "includes/navbar/_navbar-backoffice-menu.html.twig" %}
		{% endif %}
	{% endblock %}
	<div class="navbar-divider"></div>

	{% if menu == 'base' %}
		{% block contact %}
			<div class="sidebar-contact">
				<h2>Informations de contact</h2>
				<ul>
					<li>
						Par téléphone :
						{{ sideCkeditors['phone']|raw }}
					</li>
					<li>
						Par mail :
						{{ sideCkeditors['email']|raw }}
					</li>
					<li>
						Au lycée :
						{{ sideCkeditors['place']|raw }}
					</li>
				</ul>
			</div>
		{% endblock %}
	{% endif %}
</div>
