<ul class="navbar-menu">
	<li>
		<a href="#">Accueil</a>
	</li>
	<li>
		<a href="#">Partenariats</a>
	</li>
	<li>
		<a href="#">Billeterie</a>
	</li>
	<li>
		<a href="#">Sondage</a>
	</li>
	<li>
		<a href="#">Contact</a>
	</li>
	<li>
		<a href="#">Compte</a>
	</li>
</ul>
