{% block navbarResponvive %}
	<div class="navbar-responsive">
		<div class="navbar-divider"></div>
		{% include "includes/navbar/navbar-menu.html.twig" %}
		<div class="navbar-divider"></div>
		{% include "includes/sidebar/sidebar.html.twig" %}
	</div>
	<script src="{{ asset('js/toggler.js')}}"></script>
{% endblock %}
