{% block navbar %}
	<div id="navbar">
		<div class="gray"></div>
		<div class="blue">
			<div class="navbar-content">
				<button id="navPerso-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="line-toggler"></span>
					<span class="line-toggler"></span>
					<span class="line-toggler"></span>
				</button>
				<div class="img-container">
					<img src="{{ asset('images/logo.jpg') }}" alt="logo-SV"/>
				</div>
				{% include "includes/navbar/navbar-menu.html.twig" %}
			</div>
			{% include "includes/navbar/navbar-responsive.html.twig" %}
		</div>
	</div>
{% endblock %}
