{% extends "error.html.twig" %}

{% block title %}
	Erreur 500
{% endblock %}

{% block content %}
	<div id="error-page">
		<h1>
			<span class="span-error-page">
				<span>Erreur</span>
				500
			</span>
			<p>Erreur serveur</p>
		</h1>
		<h2>
			Le serveur a rencontré un problème inattendu,
			<br>
			veuillez revenir sur le site.
		</h2>
		<a href="{{ path('home') }}">
			<img src="{{ asset('images/required/left-arrow-error.svg')}}" alt="Left arrow">
			Retour
		</a>
	</div>

	<script src="{{ asset('js/errorPage.js') }}"></script>
{% endblock %}
