/*GENERAL*/

#body {
    max-width: 1020px;
    margin: 150px auto 0;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --color-a-no-hover: black;
    --color-blue: #1B3168;
    --color-h2: #b6a886;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    color: var(--color-h2);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

/*NAVBAR*/

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#navbar .gray {
    width: 100%;
    height: 50px;
    background-color: #d4d4d4;
}

#navbar .blue {
    width: 100%;
    height: 50px;
    padding-inline: 10px;
    background-color: var(--color-blue);
}

#navbar .navbar-content {
    position: relative;
    margin: 0 auto;
    display: flex;
    /* +20 px pour compenser le padding de .blue */
    max-width: 1020px;
    height: 50px;
}

#navbar .img-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    /* A CHANGER SELON L'IMAGE */
    height: 103px;
}

#navbar .navbar-menu {
    margin: 0;
    margin-left: 200px;
    padding: 0;
}

#navbar .navbar-menu li {
    display: inline-block;
}

#navbar .navbar-menu a {
    display: block;
    padding: 15.8px 25px;
    color: #fff;
}

#navbar .navbar-menu a:hover {
    background-color: #b6a886;
}

#navbar .current-navigation {
    max-width: 1000px;
    padding-inline: 10px;
    margin: 0 auto;
}

#navbar .current-navigation,
#navbar .current-navigation ul,
#navbar .current-navigation li {
    display: flex;
}

#navbar .current-navigation {
    height: 50px;
}

#navbar .current-navigation img {
    width: 25px;
}

#navbar .current-navigation ul {
    padding: 0;
}

#navbar .navbar-responsive {
    display: none;
}

@media (max-width: 850px) {
    #navbar .blue {
        padding-inline: 0;
    }

    #navbar .img-container {
        left: 50%;
        transform: translateX(-50%);
    }

    #navbar .navbar-content ul {
        display: none;
    }

    #navbar .navbar-responsive {
        display: block;
        position: absolute;
        top: 100px;
        left: -250px;
        width: 250px;
        background-color: var(--color-blue);
        overflow-y: scroll;
    }

    #navbar .navbar-responsive::-webkit-scrollbar {
        width: 0;
    }

    #navbar .navbar-divider {
        width: 90%;
        margin: 0 auto;
        height: 2px;
        border-radius: 5px;
        background-color: #fff;
    }

    #navbar .navbar-menu {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navbar .navbar-menu li {
        width: 50%;
    }

    #navbar .navbar-menu a {
        padding-inline: 0;
        text-align: center;
    }
}

/*NAVBAR TOGGLER*/

#navPerso-toggler {
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border: none !important;
    background-color: transparent;
}

.line-toggler {
    position: absolute;
    height: 4px;
    background-color: white;
    border-radius: 25px;
}

.line-toggler:nth-child(1) {
    width: 90%;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

.line-toggler:nth-child(2) {
    width: 75%;
    left: 42.5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.line-toggler:nth-child(3) {
    width: 60%;
    left: 35%;
    top: 75%;
    transform: translate(-50%, -75%);
}

@media (min-width: 850px) {
    #navPerso-toggler {
        display: none;
    }
}

/*SIDEBAR*/

.sidebar {
    max-width: 200px;
    margin: 0 0 50px 10px
}

.sidebar ul {
    padding-left: 20px;
}

.sidebar li {
    padding: 5px 0;
    list-style-image: url(../images/left-chevron.svg);
}

.sidebar a {
    color: var(--color-a-no-hover);
}

.sidebar a:hover {
    color: var(--color-blue);
}

@media (max-width: 850px) {
    .sidebar {
        display: none;
    }

    #navbar .sidebar {
        display: block;
        height: 1000px;
        margin: 0 auto 100px;
    }

    #navbar .sidebar-servey {
        margin-top: 15px;
        border: 3px solid #EFEDED;
    }

    #navbar .sidebar-servey button {
        background-color: var(--color-blue);
        color: #fff;
        border: none;
    }

    #navbar .sidebar li,
    #navbar .sidebar .next,
    #navbar .sidebar .prev,
    #navbar .sidebar-slider a {
        filter: invert(1);
    }
}

/*SONDAGE*/

.sidebar-servey {
    margin-bottom: 15px;
}

.sidebar-servey h2 {
    color: #fff;
    background-color: #1B3168;
    text-align: center;
    padding: 15px;
}

.sidebar-servey legend {
    text-align: center;
}

.sidebar-servey form legend,
.response {
    padding: 15px 10px 0 10px;
    background-color: #EFEDED;
}

.response:last-of-type {
    padding-bottom: 15px;
}

.sidebar-servey button {
    background-color: white;
    border: 3px solid var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
    width: 100%;
    height: 40px;
}

/*SLIDER*/

.slider {
    margin-top: 15px;
    position: relative;
    border: 30px solid rgba(27, 49, 104, 0.1);
    width: 141px;
    height: 141px;
}

.slider-image img {
    object-fit: cover;
    width: 141px;
    height: 141px;
    margin: 0 auto;
    padding: 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 25px;
}

.prev {
    left: 0%;
    transform: translate(-30px, -50%);
}

.next {
    right: 0;
    transform: translate(+30px, -50%);
}

.sidebar-slider p {
    text-align: center;
    font-size: small;
    margin-top: 5px;
}

/*FOOTER*/

#footer {
    /* A CHANGER QUAND CONTENU PRESENT */
    margin-top: 300px;
    background-color: #b6a886;
    padding: 10px;
    display: flex;
}

#footer .footer-content {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    color: #fff;
}

#footer h4 {
    font-weight: bold;
}

#footer .menu {
    display: flex;
}

#footer .img-container {
    max-width: 200px;
}

#footer .links {
    padding: 0 5%;
}

#footer .links h4 {
    margin-bottom: 15px;
}

#footer .links a {
    display: inline-block;
    width: 140px;
    margin: 5px 0;
    color: #fff;
}

#footer .links a:hover {
    text-decoration: underline;
}

#footer .offer p {
    margin-bottom: 10px;
}

#footer form input {
    height: 25px;
    border: none;
    border-radius: 10px;
}

#footer form input[type='text'] {
    padding-left: 10px;
    width: 175px;
}

#footer form input[type='submit'] {
    width: 80px;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 850px) {
    #footer .footer-content {
        width: 100%;
        display: block;
    }

    #footer .menu {
        justify-content: center;
    }

    #footer .img-container {
        margin-left: 5%;
    }

    #footer .links {
        width: 290px;
        padding-right: 0;
    }

    #footer .offer {
        text-align: center;
        margin: 15px auto 0;
        width: 280px;
    }
}

@media (max-width: 600px) {
    #footer .footer-content {
        width: 100%;
        display: block;
        text-align: center;
    }

    #footer .menu {
        flex-direction: column;
        align-items: center;
    }

    #footer .img-container {
        margin-left: 0;
        margin-bottom: 15px;
    }

    #footer .links {
        width: 290px;
        padding-right: 0;
    }

    #footer .links h4 {
        margin: 0;
    }

    #footer .links a {
        text-align: left;
    }
}